---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from './FormattedDate.astro';

interface Props {
	post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
const { data } = post;
---

<article>
	<header>
		{data.pubDate && (
			<time datetime={data.pubDate.toISOString()}>
				<FormattedDate date={data.pubDate} format="long" />
			</time>
		)}
		{data.category && data.category.length > 0 && (
			<span>
				<a href={`/category/${data.category[0]}/`}>
					{data.category[0]}
				</a>
			</span>
		)}
		<h2>
			<a href={`/p/${post.id}/`}>
				{data.title}
			</a>
		</h2>
	</header>
	
	{data.description && (
		<p>
			{data.description}
		</p>
	)}
	
	<footer>
		{data.tags?.map(tag => (
			<a href={`/tag/${tag}/`}>
				{tag}
			</a>
		))}
	</footer>
</article> 